<h1>My Events</h1>

<div *ngIf="this.state == 'base' || this.state == 'filtered'">
  <h3>Filter by date</h3>
  <div>
    <label>From:</label>
    <input type="date" [(ngModel)]="fromTime">
  </div>
  <div>
    <label>To:</label>
    <input type="date" [(ngModel)]="toTime">
  </div>
  <button class="button-53" role="button" (click)="filterEvents()">Filter</button>
</div>

<div *ngIf="this.state == 'base'" class="center">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let event of events" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'filtered'" class="center">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let event of eventsCopy" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'viewingEvent'" class="center">
  <table>
    <tr>
      <th>Event Name: </th>
      <th>Date: </th>
      <th>Description: </th>
    </tr>
    <tr>
      <td>{{singleEvent.eventName}}</td>
      <td>{{getDate(singleEvent.eventDate)}}</td>
      <td>{{singleEvent.eventDescription}}</td>
    </tr>
  </table>

  </div>
  <div *ngIf="this.state == 'viewingEvent'">
  <button class="button-53" role="button" (click)="setBase()">Return to Events</button>
  <button class="button-53" role="button" (click)="editEvent()">Edit Event</button>
  <button class="button-53" role="button" (click)="confirmDelete()">Delete Event</button>
</div>

<div *ngIf="this.state == 'confirmDelete' ">
  <h1>Are you sure you want to delete event: {{singleEvent.eventName}}?</h1>
  <button class="button-53" role="button" (click)="deleteEvent(singleEvent.id)">Yes</button>
  <button class="button-53" role="button" (click)="showEvent(singleEvent.id)">No</button>
</div>

<div *ngIf="this.state == 'editing'">
  <div>
  <label>Event Name: </label>
  <input [(ngModel)]="singleEvent.eventName" [defaultValue]="singleEvent.eventName">
  </div>
  <div>
  <label>Date: </label>
  <input [(ngModel)]="valueAsDate" type="date" [defaultValue]="singleEvent.eventDate">
  </div>
  <div>
  <label>Description: </label>
  <input [(ngModel)]="singleEvent.eventDescription" [defaultValue]="singleEvent.eventDescription">
  </div>
  <div>
    <label>Send Invites</label>
    <div *ngFor="let member of otherUsers">
      <button class="invited" role="button" *ngIf="findUser(member.id) !== -1"  (click)="editInvite(member.id)" id="{{member.id}}">{{member.username}}</button>
      <button class="uninvited" role="button" *ngIf="findUser(member.id) == -1"  (click)="editInvite(member.id)" id="{{member.id}}">{{member.username}}</button>
    </div>
  </div>
  <button class="button-53" role="button" (click)="setBase()">Return to Events</button>
  <button class="button-53" role="button" (click)="submitEventEdit()">Submit</button>
</div>

