<h1>My Events</h1>

<div>
  <h3>Filter by date</h3>
  <div>
    <label>From:</label>
    <input type="date" [(ngModel)]="fromTime">
  </div>
  <div>
    <label>To:</label>
    <input type="date" [(ngModel)]="toTime">
  </div>
  <button (click)="filterEvents(fromTime, toTime)">Filter</button>
  <button>Sort Ascending</button>
  <button>Sort Descending</button>
</div>

<div *ngIf="this.state == 'base'">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let event of events" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
      <td>{{event.eventDescription}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'filtered'">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let event of eventsCopy" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
      <td>{{event.eventDescription}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'viewingEvent'">
  <h1>{{singleEvent.eventName}}</h1>
  <h2>{{getDate(singleEvent.eventDate)}}</h2>
  <p>{{singleEvent.eventDescription}}</p>
  <button (click)="setBase()">Return to Events</button>
</div>
