<h1>My Events</h1>

<div>
  <h3>Filter by date</h3>
  <div>
    <label>From:</label>
    <input type="date" [(ngModel)]="fromTime">
  </div>
  <div>
    <label>To:</label>
    <input type="date" [(ngModel)]="toTime">
  </div>
  <button (click)="filterEvents()">Filter</button>
  <button>Sort Ascending</button>
  <button>Sort Descending</button>
</div>

<div *ngIf="this.state == 'base'">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let event of events" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
      <td>{{event.eventDescription}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'filtered'">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let event of eventsCopy" (click)="showEvent(event.id)">
      <td>{{event.eventName}}</td>
      <td>{{getDate(event.eventDate)}}</td>
      <td>{{event.eventDescription}}</td>
    </tr>
  </table>
</div>

<div *ngIf="this.state == 'viewingEvent'">
  <h1>{{singleEvent.eventName}}</h1>
  <h2>{{getDate(singleEvent.eventDate)}}</h2>
  <p>{{singleEvent.eventDescription}}</p>
  <button (click)="setBase()">Return to Events</button>
  <button (click)="editEvent()">Edit Event</button>
  <button (click)="confirmDelete()">Delete Event</button>
</div>

<div *ngIf="this.state == 'confirmDelete' ">
  <span>Are you sure you want to delete event: {{singleEvent.eventName}}?</span>
  <button (click)="deleteEvent(singleEvent.id)">Yes</button>
  <button (click)="showEvent(singleEvent.id)">No</button>
</div>

<div *ngIf="this.state == 'editing'">
  <div>
  <label>Event Name: </label>
  <input [(ngModel)]="singleEvent.eventName" [defaultValue]="singleEvent.eventName">
  </div>
  <div>
  <label>Date: </label>
  <input [(ngModel)]="valueAsDate" type="date" [defaultValue]="singleEvent.eventDate">
  </div>
  <div>
  <label>Description: </label>
  <input [(ngModel)]="singleEvent.eventDescription" [defaultValue]="singleEvent.eventDescription">
  </div>
  <div>
    <label>Send Invites</label>
    <div *ngFor="let member of otherUsers">
      <button *ngIf="findUser(member.id) !== -1" class='invited' (click)="editInvite(member.id)" id="{{member.id}}">{{member.username}}</button>
      <button *ngIf="findUser(member.id) == -1" class='uninvited' (click)="editInvite(member.id)" id="{{member.id}}">{{member.username}}</button>
    </div>
  </div>
  <button (click)="setBase()">Return to Events</button>
  <button (click)="submitEventEdit()">Submit</button>
</div>

<div *ngIf="this.state == 'viewingInvites' ">

</div>

