<div>
  <span>Hello, {{profile.username}}</span>
</div>

<div>
  <span>Menu:</span>
  <div>
    <button class="button-53" role="button" (click)="createEvent()">Create an event</button>
    <button class="button-53" role="button" (click)="viewEvents()">View my events</button>
    <button class="button-53" role="button" (click)="viewInvites()">View my invites</button>
  </div>
<!--  <div>-->
<!--    <button class="button-53" role="button" (click)="logout()">Logout</button>-->
<!--  </div>-->
</div>



