<h2>Create an Event</h2>


<div>
  <div>

  <label>Event Name</label>
  <input type="text" name="eventName" [(ngModel)]="newEvent.eventName">
  </div>

  <label>Send Invites</label>
  <div *ngFor="let member of otherUsers">
    <input  type="checkbox"  name="{{member.id}}" [(ngModel)]="{{member.Checked}}">
    <label for="{{member.id}}">{{member.username}}</label>
  </div>

  <div>

  <label>Event Date</label>
  <input type="date" value="valueAsDate" name="eventDate" [(ngModel)]="newEvent.eventDate">
  </div>

  <div>

    <label>Description of Event</label>
    <textarea name="eventDescription" [(ngModel)]="newEvent.eventDescription"></textarea>
  </div>

</div>

<button (click)="submitEvent()">Submit</button>
