<h2 class="center">Create an Event</h2>


<div>
  <div class="center">

  <span>Event Name: </span>
  <input type="text" name="eventName" [(ngModel)]="newEvent.eventName">
  </div>

  <div class="center">
  <span>Send Invites: </span>
  <div *ngFor="let member of otherUsers">
    <button (click)="inviteUser(member.id)" id="{{member.id}}">{{member.username}}</button>
  </div>
  </div>

  <div>

  <span>Event Date: </span>
  <input type="date" value="valueAsDate" name="eventDate" [(ngModel)]="valueAsDate">
  </div>

  <div>

    <span>Description of Event: </span>
    <textarea name="eventDescription" [(ngModel)]="newEvent.eventDescription"></textarea>
  </div>

</div>

<div class="center">

<button class="button-53" role="button" (click)="submitEvent()">Submit</button>
</div>
